/* Estilos gerais */

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  display: block;
  max-width: 100%;
}

.subtitulo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-bottom: 40px;
}

.subtitulo::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000000;
  margin: 10.5px auto;
}

.subtitulo-interno {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}

.subtitulo-interno::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000000;
  margin: 8px 0;
}

.btn {
  border: 4px solid #fec63e;
  padding: 9px 21px;
  color: #fec63e;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.btn:hover {
  color: #ffffff;
  border-color: #ffffff;
}

.btn.btn-preto:hover {
  color: #000000;
  border-color: #000000;
}

/* Header */

.header {
  width: 100%;
  background-color: #fec63e;
  padding: 9px 0;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}

.header_menu ul li a {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
}

.header_menu ul li a:hover {
  color: #ffffff;
}

.header_menu ul li a.menu_ativo {
  color: #ffffff;
}

/* Introdução */

.introducao {
  width: 100%;
  height: 380px;
  background: url("../img/bg-intro.jpg") no-repeat center;
  background-size: cover;
  margin-top: 80px;
  text-align: center;
  padding-top: 80px;
}

.introducao h1 {
  font-size: 48px;
  line-height: 60px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.quote-externo {
  max-width: 260px;
  margin: 0 auto;
  color: #ffffff;
  margin-bottom: 40px;
}

.quote-externo p {
  font-style: italic;
}

.quote-externo p::before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #ffffff;
  margin: 10px auto;
}

.quote-externo p::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #ffffff;
  margin: 10px auto;
}

.quote-externo cite {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
  font-style: normal;
  letter-spacing: 0.1em;
}

/* Introdução interna */

.introducao-interna {
  width: 100%;
  margin-top: 80px;
  height: 160px;
  text-align: center;
  color: #ffffff;
  padding-top: 30px;
}

.introducao-interna h1 {
  font-size: 36px;
  line-height: 60px;
  font-weight: bold;
  text-transform: uppercase;
}

.introducao-interna h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #ffffff;
  margin: 0px auto 12px auto;
}

/* Produtos */

.produtos {
  padding: 60px 0;
}

.produtos_lista li {
  background: #fec63e;
  text-align: center;
}

.produtos_lista li img {
  margin: 0 auto;
}

.produtos_lista li h3 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 20px;
  margin-top: 15px;
}

.produtos_lista li h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000000;
  margin: 10px auto 14px auto;
}

.produtos_lista li p {
  padding: 0 20px 20px 20px;
}

.produtos_icone {
  background: #000000;
  padding: 40px;
}

.call-to-action {
  padding-top: 40px;
  clear: both;
  text-align: center;
}

.call-to-action p {
  margin-bottom: 20px;
}

/* Portfólio */

.portfolio {
  width: 100%;
  background: #000000;
  padding: 40px 0;
}

.portfolio .subtitulo {
  color: #fec63e;
}

.portfolio .subtitulo::after {
  background: #fec63e;
}

.portfolio_lista li:last-child {
  margin-top: 20px;
}

.portfolio .call-to-action p {
  color: #ffffff;
}

/* Qualidade */

.qualidade {
  padding: 60px 0;
}

.qualidade::after {
  content: "";
  width: 703px;
  height: 81.5px;
  display: block;
  background: url("../img/linhas2.svg") no-repeat center;
  position: absolute;
  top: 240px;
  right: 132px;
  z-index: -1;
}

.qualidade img {
  margin: 0 auto;
}

.qualidade_lista {
  padding-top: 20px;
  overflow: auto; /* Clear-fix (limpa a flutuação) */
}

.qualidade_lista li {
  text-align: center;
  padding: 0 60px;
}

.qualidade_lista li h3 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 20px;
  margin-top: 60px;
}

.qualidade_lista li h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000000;
  margin: 10px auto 15px auto;
}

.qualidade_lista li.ajuste {
  padding: 0 0 0 60px;
}

.qualidade_lista li.ajuste_2 {
  padding: 0 60px 0 0;
}

/* Quebra */

.quebra {
  width: 100%;
  height: 220px;
  background: url("../img/bg-footer.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
}

.quebra .quote-externo {
  max-width: 400px;
}

/* Footer */

.footer {
  width: 100%;
  background: #000000;
  color: #ffffff;
  padding: 20px 0;
}

.footer h3 {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-transform: uppercase;
  color: #fec63e;
}

.footer h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fec63e;
  margin: 8px 0 16px 0;
}

.footer_historia {
  padding-right: 40px;
}

.footer_contato ul li {
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.footer_redes ul li {
  display: inline-block;
  margin-right: 12px;
}

.footer_redes ul li a {
  border: 3px solid #fec63e;
  display: block;
  padding: 10px;
}

.footer_redes ul li a:hover {
  border-color: #ffffff;
}

.copy {
  width: 100%;
  background: #fec63e;
  padding: 20px 0;
}

.copy p {
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
}

/* Javascript */

.js [data-slide] {
  position: relative;
}
[data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}

.js [data-slide-nav] {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.js [data-slide-nav] button {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 4px;
  border: none;
  padding: 0px;
  border-radius: 6px;
  text-indent: -99px;
  overflow: hidden;
  background: #292929;
}

.js [data-slide-nav] button.active {
  background: #fec63e;
}

.js [data-anime] {
  opacity: 0;
  transform: translate3d(0, -20px, 0);
}

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: opacity 800ms, transform 800ms;
}

/* Técnica anti-spam */

.nao-aparece {
  visibility: hidden;
  height: 0px;
  position: absolute;
}

/* Estilização das mensagens de erro/sucesso do formulário */

#form-sucesso {
  color: #31aa39;
  font-size: 36px;
}

#form-sucesso h2 {
  font-weight: bold;
}

#form-erro {
  color: #f64540;
  font-size: 36px;
}

#form-erro h2 {
  font-weight: bold;
}
